<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="visible">
  <thead>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let v of employees">
      <td>{{v.name}}</td>
      <td>{{v.title}}</td>

        <td *ngIf="v.nextVacation; else emptyTd">{{v.nextVacation.start | date:"dd/MM/yyyy"}}</td>
        <td *ngIf="v.nextVacation; else emptyTd">{{v.nextVacation.end | date:"dd/MM/yyyy"}}</td>

  </tr>
  </tbody>
</table>

<ng-template #emptyTd>
  <td></td>
</ng-template>
